
<header class="header">
    <div class="d-flex align-items-center">  
        <a href="/">
            <img class="img-logo" src="../../../../assets/logo.png" alt="">
        </a>
        <a href="/">
            <p class="header-text mt-3">
                Neoris Lab
            </p>
        </a>
       
    </div>
    <div class="mt-4 btn-empleados">
        <a href="/" class="text-light display-6 blockquote border p-2 d-flex align-items-center text-capitalize">empleados</a>
    </div>

    <div class="tp3-text">
        <p class="text-light mt-3 pr-">TP3: Matias Gonzalez</p>
    </div>
   
</header>
